<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.stutz">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="app.stutz.SplashActivity"
            android:label="Stutz"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.stutz.StutzStartActivity"
            android:label="Person suchen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="app.stutz.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.stutz.person.SelectSpendeActivity"
            android:label="Spenden"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="app.stutz.select_spende" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.stutz.person.DankeActivity"
            android:label="@string/title_activity_danke"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="app.stutz.DANKE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.stutz.dienstleister.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="app.stutz.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.stutz.dienstleister.SpendenAnzeigenUndSuchenActivity"
            android:label="Verfügbare Spenden"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="app.stutz.SPENDEN_ANZEIGEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.stutz.dienstleister.DankeDienstleisterActivity"
            android:label="@string/title_activity_danke"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="app.stutz.DANKE_DIENSTLEISTER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.stutz.person.PaymentActivity"
            android:label="@string/title_activity_payment"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="app.stutz.PAYMENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>